
.title{
 position: relative;
 color: white;
}
.banner{
    position: relative;
   
}
.banner img{
    filter: blur(10px);
    margin: -11px 0 -5px -10px;
}
.title_img{
    position: absolute;
    bottom: 0px;
 
    left: 40%;
    transform: translate3d(-50%,-50%,0);

}
.title_decorate{
    position: absolute;
    bottom: 20px;
    left: 30%;
    width: 60%;
}
.title_tieude{
    padding-bottom: 20px;
    color: #fb802d;
    font-size: 32px;
 
    font-weight: bold;
    text-transform: uppercase;
}
.title_decorate p.age a{
    color: #3bd369;
    padding: 7px 10px;
    border: 2px solid #3bd369;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    margin-right: 1.2em;
    text-decoration: none;
}
.backgroup{
    /* background: linear-gradient(to top,#0a2029,transparent 100%); */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
p.review{
    color: #f4f4f4;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0.8em 0;
}
p.special{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 2.2em 0;
}
a.video{
    background: #dfb636;
    font-size: 1.25em;
    text-decoration: none;
    padding: 12px 25px 12px 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid #2d2d2d;
    width: 75%;
    display: block;
    margin-top: 25px;
}
a.video:hover,a.book:hover{
    background: #c11827;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
a.book{
    background: #bb7b29;
    font-size: 1.25em;
    text-decoration: none;
    padding: 12px 25px 12px 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid #2d2d2d;
    width: 75%;
    display: block;
    margin-top: 18px;
}
i.video1 {
    width: 40px;
    height: 35px;
    background: url(../../../../assets/img/img-sprite.png) no-repeat -300px -50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
i.book1 {
    width: 40px;
    height: 35px;
    background: url(../../../../assets/img/img-sprite.png) no-repeat -300px -87px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.review{
    color: #f9be30;
}

@media(max-width:992px){
    .title_img,.title_decorate{
       position: static;
       bottom: 0px;
       left: 0px;
    }
    .title_decorate{
        width: 100%;
        padding-bottom: 30px;
    }
    .title_img{
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        padding: 30px 0px;
}
    .banner {
        display: none;

}

    
    
   
}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)   {
        .movie_title{
            padding-top: 30px;
        }
}



/* ipad-Pro */
@media (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)   {
    .title_img{
        transform: translate3d(-20%,-25%,0);
        -webkit-transform: translate3d(-20%,-25%,0);
        -moz-transform: translate3d(-20%,-25%,0);
        -ms-transform: translate3d(-20%,-25%,0);
        -o-transform: translate3d(-20%,-25%,0);
        width: 40%;

}
.title_decorate{
    bottom: 30px;
}
a.video,a.book{
   display: inline-flex;
   justify-content: center;
   align-items: center;
    font-size: 14px;
    width: 100px;
    height: 50px;

    padding: 0;
    margin-left: 10px;
    
}
p.special{
    margin: 0px;
}

i.video1,i.book1 {
 
    display: none;

}

}



.day_content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.day_content li{
    list-style: none;
}

.day_content li a{
    text-decoration: none;
    color: #8c9bb4;
}

.day_content li a:hover{
   
    color: white;
}
.day_content li a.active{
    color: white;
}
.box{
    width: 100%;
    background: white;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 30px;
    margin: 50px 0px;
}
.buttion {
    list-style: none;  
}
.box_link a{
    background: #42af33;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}
.buttoin_day ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.buttoin_day a:hover{
    background-color: #c11827;
    color: white;
}
.fim-class{
    border: 2px solid #c11827;
    color: #c11827;
    list-style: 10px;
    text-align: center;
    padding: 3px;
}
.buttoin_day a{
    text-decoration: none;
    margin-left: 10px;
    width: 90px;
    height: 40px;
    background: #10171e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    color: #97a5be;
    font-size: 18px;
    font-weight: bold;
}
.dark{
    background-color: rgb(10, 32, 41);padding-bottom: 100px;
}
.darks{
    background-color: rgb(10, 32, 41);
    padding-bottom: 50px;
}
@media (max-width:992px){
    .box{
        display: block;
    }
    .mai h2{
        text-align: center;
    }
    .buttoin_day a{
        margin-left: 0px;
    }
    .day_content{
        display: flex;
        flex-wrap: wrap;
        padding:20px 0px;
    }
    .day_content li{
        margin-right: 20px;
    }

}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)   {
    .buttoin_day a{
        margin-left: 10px;
    }
    .dark{
        padding: 30px 0px;
    }
}








