<footer class="foots">
<div class="center ">
  <div class="container">
    <div class="footer_url">
      <div class="thong_tin">
  <p>Thông Tin</p>
  <ul>
    <li><a href=""><i class="fa fa-arrow-right"></i>Giới Thiệu</a> </li>
    <li> <a href=""><i class="fa fa-arrow-right"></i>Thông Tin</a> </li>
    <li> <a href=""><i class="fa fa-arrow-right"></i>Thỏa Thuận sử dụng</a></li>
    <li> <a href=""><i class="fa fa-arrow-right"></i>Chính Sách Bảo Mật</a></li>
    <li> <a href=""><i class="fa fa-arrow-right"></i>Quyền Lợi Thành Viên</a></li>
  </ul>
</div>

<div class="dien_anh item">
  <p>Góc Điện Ảnh</p>
  <ul>
    <li><a href=""><i class="fa fa-arrow-right"></i>Thể Loại Phim</a> </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>Bình Luận Phim</a> </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>Blog Điện Ảnh</a>  </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>Phim Hay Tháng</a> </li>
  </ul>
</div>

<div class="ho_tro item">
  <p>Hỗ Trợ</p>
  <ul>
    <li><a href=""><i class="fa fa-arrow-right"></i>Góp ý</a> </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>SALE & SERVICES</a> </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>RẠP / GIÁ VÉ</a> </li>
    <li><a href=""><i class="fa fa-arrow-right"></i>TUYỂN DỤNG</a> </li>
  </ul>
</div>

<div class="connect item">
  <div class="fiter">
      <p>KẾT NỐI GALAXY CINEMA</p>
  <span><a href=""><i class="fa fa-facebook-square face"></i></a></span>
  <span><a href=""><i class="fa fa-youtube-square youtu"></i></a> </span>
  <span><a href=""> <i class="fa fa-instagram install"></i></a></span>
  </div>
  <div class="app" style="margin-top: 15px">
    <p>DOWNLOAD APP</p>
    <span><a href=""> <i class="fa fa-apple"></i></a></span>
    <span><a href=""><i class="fa fa-play"></i></a> </span>
  </div>

</div>

    </div>
   
  </div>
</div>

<app-copy></app-copy>
</footer>