<table class="table table-striped">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tài Khoản</th>
      <th scope="col">Mật Khẩu</th>
      <th scope="col">Họ Tên</th>
      <th scope="col">Điện Thoại</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    
      <td><button class="btn btn-info mr-2"><i class="fa fa-cog"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>

  </tbody>
</table>