<section class="dashboard ">
  <div class="dashboard_silder bg-primary">
    <div class="container">
    <div class="text_test py-2">
        <h2 class="text-white"><span><i class="fa fa-cog mr-2"></i></span>Dashboard</h2>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="nut_buttoin my-3">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus mr-2"></i>Thêm Người Dùng</button>
          
            <button class="btn btn-danger "><i class="fa fa-user-secret mr-2"></i>Thông tin</button>
        </div>
        <div class="table_user">
          <h2>Users</h2>
          <app-danhsach></app-danhsach>
     
              
           
        </div>
  
      </div>
      <div class="col-xs-12  col-md-3">
        <div class="right_text">
          <div class="item my-3 bg-primary text-white">
           <p>Admin</p>
          <span style="font-size: 36px"><i class="fa fa-pencil" style="margin-right: 10px;" ></i>6</span>
          <div class="text-white mt-2">
              <button type="button" class="btn btn-outline-light">View</button>
          </div>
          </div>
        
          <div class="item my-3 bg-warning text-white">
              <p>Users</p>
             <span style="font-size: 36px"><i class="fa fa-users" style="margin-right: 10px;" ></i>4</span>
             <div class="text-white mt-2">
                 <button type="button" class="btn btn-outline-light">View</button>
             </div>
             </div>
     
        
        </div>
      </div>
    </div>

  </div>

  <app-addmoive></app-addmoive>
</section>