<div class="homeTool">
  <div class="whitd_werend white content_1">
    <div class="selectMenu">
      Phim
    </div>
  </div>

 


  <div class="whitd_werend white content_1">
      <div class="selectMenu">
        Rạp
      </div>
    </div>

  

    <div class="whitd_werend white content_1">
        <div class="selectMenu">
         Ngày Xem
        </div>
      </div>

 
      <div class="whitd_werend white content_1">
          <div class="selectMenu">
           Suất Chiếu
          </div>
        </div>


       

          <div class="whitd_werend">
            <button class="btn btn-danger btn_By">Mua Vé</button>
            </div>
  
</div>