
<header class="position-fixed" style="z-index: 999;">
  <div>
      <img  src="../../../assets/img/logo-default.png" class="py-2 logo" alt="">
  </div>

  <div class="center">


    <nav class="active">
    <ul class="text-center">
      <li class="active"><a href="#">Trang Chủ</a></li>
      <li><a href="#">Lịch Chiếu</a></li>
      <li><a href="#">Rạp Chiếu</a></li>
      <li><a href="#">Tuyển Dụng</a></li>
      <div class="nut_hu">
      <button href="#" data-toggle="modal" data-target="#myDN"  class="btn buttoin">Đăng Nhập</button>
      <button href="#" data-toggle="modal" data-target="#myDK" class="btn buttoinzzz" >Đăng Ký</button>
      </div>


    </ul>
  </nav>



      <div class="menu_toggle">

      <div class="icon_nut"></div>

     <!-- <i class="fa fa-bars"></i> -->


  </div>

 
</div>

<div class="left">
  <ul style="display: flex">
    <li><a href="#" data-toggle="modal" data-target="#myDN"  class="buttoin" >Đăng Nhập</a></li>
    <li><a href="#" data-toggle="modal" data-target="#myDK" class="buttoin" >Đăng Ký</a></li>
  </ul>
</div>
  

 



</header>



<app-dangnhap></app-dangnhap>
<app-dangky></app-dangky>





